{% extends 'Core/snippets/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
{% include 'Core/snippets/header.html' %}
{% endblock %}
{% block style %}
#div_id_image label{
    display:none;
}
#div_id_image{
    width:100%;
    height:150px;
  
  cursor:pointer;
  background-color:#fff;
  {% if edit %}
    display:none;
  {% endif %}

}
#div_id_image input{
    width:100%;
    height:150px;
    opacity:0;
    cursor:pointer;
    background-color:#fff;
}
#div_id_title label{
    display:none;
}

#div_id_title input{
    width:100%;
   
    border:none;
    height:80px;
    font-size:36px;
   
   
}
#div_id_tags label{
    display:none;
}

#div_id_tags input{
    width:100%;
    margin-top:-13px;
    border:none;
    height:80px;
    font-size:20px;
   
   
}
#div_id_description label{
    display:none;
}

#div_id_description input{
    width:100%;
    margin-top:-13px;
    border:none;
    height:90px;
    font-size:20px;
   
   
}
#div_id_content label{
    display:none;
}
#id_image{
{% if edit %}
    margin-top:-200px;
{% endif %}"
}
#div_id_title input:focus {
    outline: none;
    box-shadow: none;
  }
  #div_id_tags input:focus {
    outline: none;
    box-shadow: none;
  }
  .django-ckeditor-widget{
    width: 100%;
  }
{% endblock %}
{% block body %}
<div class="section" style="background-color: white; min-height:750px;">


<div class="container p-0" style="background-color: #fff;">
    <div class="row mt-5 ">
        <div class="col-12">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% if edit %}
                <input type="hidden" value="{{id}}" name="iding">
                {% endif %}
                <div>
                    {% if errors %}
                        <div class="alert alert-danger">
                            {{errors}}
                        </div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between">
                    <div></div>
                    <div class="p-3">
                        {% if edit %}
                        <button formaction="/blog/posting/" onclick='return confirm("Do you really want to Post this article?");' type="submit" class="btn btn-sm border shadow-sm text-white"  style="font-size: 12px; background-color: #E57851;"><i class="fa fa-paper-plane"></i> Post</button>
                        {% else %}
                        <button onclick='return confirm("Do you really want to Post this article?");' type="submit" class="btn btn-sm border shadow-sm text-white"  style="font-size: 12px; background-color: #E57851;"><i class="fa fa-paper-plane"></i> Post</button>
                        {% endif %}
                        {% if edit %}
                        <button formaction = "/blog/previewing/" onclick='return confirm("Do you really want to Post this article?");' type="submit" formaction="/blog/preview/" class="btn btn-sm border shadow-sm bg-light" style="font-size: 12px;"><i class="fa fa-eye"></i> Preview</button>
                      
                        {% else %}
                        <button onclick='return confirm("Do you really want to Post this article?");' type="submit" formaction="/blog/preview/" class="btn btn-sm border shadow-sm bg-light" style="font-size: 12px;"><i class="fa fa-eye"></i> Preview</button>
                      
                          {% endif %}
                        {% if edit %}
                        <button formaction = "/blog/drafting/" class="btn btn-sm border shadow-sm bg-dark text-white" style="font-size: 12px;"><i class="fa fa-cloud-upload"></i> Draft</button>
                        {% else %}
                        <button  formaction="/blog/draft/" class="btn btn-sm border shadow-sm bg-dark text-white" style="font-size: 12px;"><i class="fa fa-cloud-upload"></i> Draft</button>
                        {% endif %}
  
                    </div>
                </div>
                
                    <div class="d-flex justify-content-center" >
                        
                        <div style="width:100%;  position: absolute; padding-top:auto; margin-left:auto;  margin-right:auto; color:#202C33; font-size: 100px; font-weight: 600; left:0; right:0; text-align: center; ">
                           <center>
                            <img src="{% static 'svg/undraw_image_upload_wqh3.svg' %}" style="width:200px;  {% if edit %}
                            display:none;
                          {% endif %}" id="upload">
                           </center>

                         </div>
                         {{form.image|as_crispy_field}}
                         
                    </div>
                    <div id="preview" style="{% if edit %} display: block; {% else %} display: none;{% endif %}">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-sm" onclick="show()" style="width:50px;"><i class="fa fa-close "></i></a>
                        </div>
                        <div  class="d-flex justify-content-center">
                            <img id="blah" src="/media/{{link}}/" alt="your image" style="{% if edit %} display: block; {% else %} display: none;{% endif %} width:300px;" >
                        </div>

                    </div>
                   
                    <div class="mt-2">
                        {{form.title|as_crispy_field}}
                    </div>
                    
                  
                    
                    <div>
                        {{form.tags|as_crispy_field}}
                    </div>
                    <div class="">
                        {{form.content|as_crispy_field}}
                        {{form.media}}
                    </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
   
   $(function(){
  $('#id_image').change(function(){
    document.getElementById("blah").style.display="block";
    document.getElementById("preview").style.display="block";
    if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(300);
                    
            };

            reader.readAsDataURL(this.files[0]);
        }

        document.getElementById("div_id_image").style.display = 'none';
        document.getElementById("upload").style.display = 'none';
        
  });

});

function show(){
    document.getElementById("blah").style.display="none";
    document.getElementById("preview").style.display="none";
    document.getElementById("div_id_image").style.display = 'block';
        document.getElementById("upload").style.display = 'block';
}
</script>

{% endblock %}