{% extends 'Core/snippets/base.html' %}
{% load shortcut %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
{% include 'Core/snippets/header.html' %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5 pt-5">
        <a href="/article/create/" class="border btn btn-sm d-flex justify-content-center align-items-center rounded-circle shadow text-white" style="position: fixed; bottom:2rem; background-color: #C92C60; right:2rem; width:50px; height:50px;"><i class="fa fa-plus"></i></a>
        <div class="col-12 mb-4">
            <div style="font-size: 18px; font-weight: 600; opacity:0.4;" class="text-muted">
               <i class="fa fa-star"></i> Featured
            </div>
        </div>
        <div class="col-12">
            <div class="row">

                {% for i in data %}
                    <div class="col-12 col-md-12 col-lg-4 mb-4">
                        <div class="card p-0 border-0 shadow-sm">
                            <a href="/article/{{i.user_name2}}/{{i.title|replace}}/{{i.id}}/">
                            <img src="/media/{{i.image}}/" style="width:100%;">
                        </a>
                            <div class="card-body">
                                <a href="/article/{{i.user_name2}}/{{i.title|replace}}/{{i.id}}/">
                                <div class="text-dark" style="font-size: 14px; font-weight: 600;">
                                  {{i.title}}
                                </div>
                            </a>
                                <div class="text-muted" style="font-size: 12px;"> 
                                    {{i.description}}
                                </div>
                                
                            </div>
                            <div class="card-footer border-0 d-flex justify-content-between">
                                <div class="d-flex justify-content-start"> 
                                    <div>
                                        <img src="/media/{{i.user_name2.profile.avatar}}/" style="width:30px; border-radius: 50%;">
                                    </div>
                                    <div class="ml-2"> 
                                        <div style="font-size: 12px; font-weight: 600;" class="text-dark">
                                            {{i.user_name2.profile.first_name}}   {{i.user_name2.profile.last_name}}
                                        </div>
                                        <div style="font-size: 10px;" class="text-muted">
                                            {{i.date}}, {{i.time}}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a class="mr-2" style="font-size: 12px; color:#516A76;"><i class="fa fa-share-alt"></i></a>
                                    <a class="mr-2" style="font-size: 12px;"><i class="fa fa-thumbs-up fa2"></i></a>
                                    <a class="mr-2" style="font-size: 12px;"><i class="fa fa-thumbs-down fa2"></i></a>
                                    <a class="mr-2" style="font-size: 12px;"><i class="fa fa-bookmark fa2"></i></a>
                                    <a class="" style="font-size: 12px; color:#516A76;"><i class="fa fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}