{% extends 'Core/snippets/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
{% include 'Core/snippets/header.html' %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-12">
            <center>
                <div class="text-dark" style="font-size: 28px; font-weight: 600;">
                    Preview
                </div>
            </center>
        </div>
        <div class="col-12 d-flex justify-content-end mb-3">
            <a href="/article/post/{{data.id}}/" onclick='return confirm("Do you really want to post this article?");' type="submit" class="btn btn-sm border shadow text-white"  style="font-size: 12px; background-color: #C92C60;"><i class="fa fa-paper-plane"></i> Post</a>
           
            <a href="/article/edit/{{data.id}}/" class="btn btn-sm border shadow bg-dark text-white" style="font-size: 12px;"><i class="fa fa-pencil"></i> Edit</a>
        
        </div>
        <div class="col-12 col-md-12 col-lg-2" >
     
           <div id="divid" style="position: sticky; top:14rem; display: none;">
            <div class="d-flex justify-content-center" >
                <img src="/media/{{data.user_name2.profile.avatar}}/" style="width:60px; height:60px; border-radius: 50%;">
            </div>
            <div class="d-flex justify-content-center mt-1" >
                <a class="text-dark" style="font-weight: 600; font-size: 14px;">{{data.user_name2}}</a>
  
            </div>
            <div class="d-flex justify-content-center mt-1" >
                <a class="btn btn-sm shadow text-white" style="font-size: 12px; background-color: #C92C60;">Follow</a>
            </div>
            <div class="d-flex justify-content-center mt-1" >
                <a class="" href="#" style="font-size: 18px;"><i class="fa fa-thumbs-up fa2"></i></a><span class="text-muted ml-1" style="font-size: 16px;">1</span>
            </div>
           
            <div class="d-flex justify-content-center mt-1" >
                <a class="" href="#" style="font-size: 18px;"><i class="fa fa-comments fa2"></i></a><span class="text-muted ml-1" style="font-size: 16px;">1</span>
            </div>

            <div class="d-flex justify-content-center mt-1"  >
                <a class="mr-3" href="#" style="font-size: 18px;"><i class="fa fa-bookmark fa2"></i></a>
            </div>
           </div>
       
        </div>
        <div class="col-12 col-md-12 col-lg-8">
            <div style="font-size: 32px; font-weight: 600;" class="text-dark">
               {{data.title}}
            </div>
            <div class="d-flex justify-content-between mt-2">
                <div class="d-flex justify-content-start">
                    <div>
                        <img src="/media/{{data.user_name2.profile.avatar}}/" style="width:60px; height:60px; border-radius: 50%;">
                    </div>
                    <div class="mt-1 ml-2">
                        <div>
                            <a class="text-dark" style="font-weight: 600; font-size: 14px;">{{data.user_name2}}</a>
                            <span><a class="btn btn-sm shadow text-white" style="font-size: 12px; background-color: #C92C60;">Follow</a></span>
                        </div>
                        <div class="text-muted mt-1" style="font-size: 12px; font-weight: 600;">
                            {{data.date}}, {{data.time}}
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-size: 20px;"><i class="fa fa-twitter"></i></a>
                    <a href="#" style="font-size: 20px;" class="ml-2"><i class="fa fa-facebook-square"></i></a>
                    <a href="#" style="font-size: 20px;" class="ml-2"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#" style="font-size: 20px;" class="ml-2"><i class="fa fa-bookmark"></i></a>
                </div>
            </div>

            <div class="mt-4 d-flex justify-content-center">
                <img src = "/media/{{data.image}}/" style="width:100%; "  class="rounded">
            </div>

            <div class="mt-4" style="font-size: 14px;">
                {{data.content|safe}}
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(window).scroll(function(){ 
  //more then or equals to 
  if($(window).scrollTop() >= 200 ){ 
      $( "#divid" ).css( "display", "block" ); 
 
  //less then 100px from top 
  } else { 
      
 $( "#divid" ).css( "display", "none" ); 
  } 
}); 
</script>
{% endblock %}