{% extends 'Core/snippets/base.html' %}
{% load shortcut %}
{% block header %}
{% include 'Core/snippets/header.html' %}
{% endblock %}
{% block style %}
.card1{
    
    border:none;
    background:linear-gradient(330deg,  #6dd5ed, #2193b0);
    border-radius:10px;
    box-shadow:2px 2px 10px rgb(0,0,0,0.3);
}
.card2{
   
    border:none;
    background:linear-gradient(330deg, #753a88, #cc2b5e);
    border-radius:10px;
    box-shadow:2px 2px 10px rgb(0,0,0,0.3);
}
{% endblock %}
{% block jscss %}
<script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row mt-5 pt-5 p-0">
        <div class="col-12 col-md-12 col-lg-3">
            
            <div class="card border shadow-sm ">
                <div class="card-header border-0" style="font-size: 13px; color: #546E7A;">
                    <i class="fa fa-newspaper-o" style="color:#E57851 ;"></i> Blogs
                </div>
                <div class="card-body pl-3 pr-3">
                   <div>
                    <a href=""> <div class="d-flex justify-content-start">
                    <div>
                        <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:55px; height:55px;" class="rounded">
                    </div>
                    <div style="font-size: 13px;" class="ml-3">
                        Sharing a document for you guys to give...
                        <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                            May 19,2010
                        </div>
                    </div>
                   
                </div>
            </a>
            </div>

            <div class="mt-3">
                <a href=""> <div class="d-flex justify-content-start">
                <div>
                    <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:55px; height:55px;" class="rounded">
                </div>
                <div style="font-size: 13px;" class="ml-2">
                    Sharing a document for you guys to give...
                    <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                        May 19,2010
                    </div>
                </div>
               
            </div>
        </a>
        </div>

        <div class="mt-3">
            <a href=""> <div class="d-flex justify-content-start">
            <div>
                <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:55px; height:55px;" class="rounded">
            </div>
            <div style="font-size: 13px;" class="ml-2">
                Sharing a document for you guys to give...
                <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                    May 19,2010
                </div>
            </div>
           
        </div>
    </a>
    </div>

    <div class="mt-3">
        <a href=""> <div class="d-flex justify-content-start">
        <div>
            <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:55px; height:55px;" class="rounded">
        </div>
        <div style="font-size: 13px;" class="ml-2">
            Sharing a document for you guys to...
            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                May 19,2010
            </div>
        </div>
       
    </div>
</a>
</div>

<div class="mt-3">
    <a href=""> <div class="d-flex justify-content-start">
    <div>
        <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:55px; height:55px;" class="rounded">
    </div>
    <div style="font-size: 13px;" class="ml-2">
        Sharing a document for you guys to ...
        <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
            May 19,2010
        </div>
    </div>
   
</div>
</a>
</div>
<div class="mt-3">
    <a href=""> <div class="d-flex justify-content-start">
    <div>
        <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:55px; height:55px;" class="rounded">
    </div>
    <div style="font-size: 13px;" class="ml-2">
        Sharing a document for you guys to ...
        <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
            May 19,2010
        </div>
    </div>
   
</div>
</a>
</div>
                
                </div>
                <div class="card-footer border-0 d-flex justify-content-center">
                    <a href="/blog/" class="btn btn-sm" style="font-size: 13px;">Read More ...</a>
                  </div>
            </div>

            <div class="card mt-3 shadow-sm">
                <div class="card-header border-0">
                    <div style="font-size: 13px;" class="text-muted">
                       <i class="fa fa-user-plus" style="color:#E57851"></i> I am Following 16
                    </div>
                </div>
                <div class="card-body " style="display: flex; flex-wrap: wrap; justify-content: center;">
                <div title="Sparsh" data-toggle="tooltip" class="m-1">
                    <a href="/profile/{{request.user}}/"><img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:40px; height:40px;" class="rounded-circle"></a>
                </div>
                <div title="Sparsh" data-toggle="tooltip" class="m-1">
                    <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:40px; height:40px;" class="rounded-circle">
                </div>
                <div title="Sparsh" data-toggle="tooltip" class="m-1">
                    <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:40px; height:40px;" class="rounded-circle">
                </div>
                <div title="Sparsh" data-toggle="tooltip" class="m-1">
                    <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:40px; height:40px;" class="rounded-circle">
                </div>
                <div title="Sparsh" data-toggle="tooltip" class="m-1">
                    <img src="/media/uploads/2021/01/29/animatedsvgicons.jpg" style="width:40px; height:40px;" class="rounded-circle">
                </div>
                </div>
                <div class="card-footer border-0 d-flex justify-content-center">
                    <a href="/blog/" class="btn btn-sm" style="font-size: 13px;">See More ...</a>
                  </div>
            </div>

            <div class="card mt-3 shadow-sm">
                <div class="card-header border-0">
                    <div style="font-size: 13px;" class="text-muted">
                       <i class="fa fa-tasks" style="color:#E57851"></i> My Recent Activities
                    </div>
                </div>
                <div class="card-body " style="">
                    <div class="d-flex justify-content-between m-1">
                       <div>
                        <div class="d-flex justify-content-center align-items-center rounded-circle" style="width:30px; height:30px; border:1px solid #E57851"> 
                            <i class="fa fa-thumbs-up" style="color: #E57851; font-size: 14px;"></i>
                        </div>
                       </div>
                        <div class="ml-2">
                            <div style="font-size: 13px;" class="text-muted">
                                You just liked a post posted by <a href="/profile/{{request.user}}/">Sparsh Jain</a>
                                <div class="text-muted" style="font-size: 11px;">
                                    May 09, 2019
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="d-flex justify-content-between m-1 mt-2">
                        <div>
                         <div class="d-flex justify-content-center align-items-center rounded-circle" style="width:30px; height:30px; border:1px solid #E57851"> 
                             <i class="fa fa-comments" style="color: #E57851; font-size: 14px;"></i>
                         </div>
                        </div>
                         <div class="ml-2">
                             <div style="font-size: 13px;" class="text-muted">
                                 You just commented on a post posted by <a href="/profile/{{request.user}}/">Sparsh Jain</a>
                                 <div class="text-muted" style="font-size: 11px;">
                                     May 09, 2019
                                 </div>
                             </div>
                             
                         </div>
                     </div>
                     <div class="d-flex justify-content-between m-1 mt-2">
                        <div>
                         <div class="d-flex justify-content-center align-items-center rounded-circle" style="width:30px; height:30px; border:1px solid #E57851"> 
                             <i class="fa fa-thumbs-down" style="color: #E57851; font-size: 14px;"></i>
                         </div>
                        </div>
                         <div class="ml-2">
                             <div style="font-size: 13px;" class="text-muted">
                                 You just disliked a post posted by <a href="/profile/{{request.user}}/">Sparsh Jain</a>
                                 <div class="text-muted" style="font-size: 11px;">
                                     May 09, 2019
                                 </div>
                             </div>
                             
                         </div>
                     </div>
                    
                    

                </div>
                <div class="card-footer border-0 d-flex justify-content-center">
                    <a href="/blog/" class="btn btn-sm" style="font-size: 13px;">See More ...</a>
                  </div>
            </div>
            
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card border shadow-sm ">
                <div class="card-header d-flex justify-content-between align-items-center border-0">
                   <div class="d-flex justify-content-start align-items-center">
                    <div>
                        <img src="/media/{{request.user.profile.avatar}}" style="width:40px;" class="rounded-circle">
                    </div>
                    <div class="ml-2" style="font-size: 14px; letter-spacing: 0.3px; font-weight: 600; color:#546E7A">
                       <a href="/profile/{{request.user}}/" style="">{{request.user.profile.first_name}} {{request.user.profile.last_name}}</a>
                    </div>
                   </div>
                   <div>
                       <a  data-toggle="modal" data-target="#Post" class="btn btn-sm border  pr-3 pl-3 pt-2 pb-2" style="border-radius: 20px; background-color: #E57851; color: white;"><i class="fa fa-paper-plane"></i> Create a post</a>
                   </div>

                </div>
                <div class="card-body p-1 pl-2 pr-2 d-flex justify-content-between">
                    <div class="" title="Share Photo" data-toggle="tooltip">
                        <a class="btn btn-sm bg-light pr-3 pl-3 pt-2 pb-2" style="border-radius: 20px; color:#546E7A; font-size: 13px; "><i class="fa fa-photo"></i> Photo</a>
                    </div>
                    <div title="Share Video" data-toggle="tooltip">
                        <a class="btn btn-sm bg-light pr-3 pl-3 pt-2 pb-2" style="border-radius: 20px; color:#546E7A; font-size: 13px; "><i class="fa fa-video-camera"></i> Video</a>
                    </div>
                    <div title="Declare an event" data-toggle="tooltip">
                        <a class="btn btn-sm bg-light pr-3 pl-3 pt-2 pb-2" style="border-radius: 20px; color:#546E7A; font-size: 13px; "><i class="fa fa-calendar-check-o"></i> Event</a>
                    </div>
                    <div title="Post an article" data-toggle="tooltip">
                        <a href="/blog/create/" class="btn btn-sm bg-light pr-3 pl-3 pt-2 pb-2" style="border-radius: 20px; color:#546E7A; font-size: 13px; "><i class="fa fa-newspaper-o"></i> Write Article</a>
                    </div>
                </div>

            </div>

            <div class="mt-3 d-flex justify-content-between">
                <div>
                    <div style="font-size: 13px;">
                       <a class="btn btn-sm rounded-0" href="#" style="color:#E57851; border:1px solid #E57851; border-top: none;  border-left: none;  border-right: none; ">All Updates</a>
                    </div>
                </div>
                <div>
                    <input class="form-control text-muted" type="text" style="font-size: 13px; border-radius:20px;" placeholder="Search...">
                </div>
            </div>

            {% for i in home %}
                    {% if i.category == 'Blog' %}
                        <div class="card card-body border shadow-sm mt-3 ">
                            
                            <div class="d-flex justify-content-between">
                                <div class="d-flex justify-content-start mb-3 align-items-center">
                                    <div>
                                            <img src="/media/{{i.blog.user_name2.profile.avatar}}" class="rounded-circle" style="width:35px; height:35px;">
                                    </div>
                                    <div class="ml-2">
                                        <div class="text-muted" style="font-size: 13px; ">
                                           <a href="/profile/{{i.blog.user_name2}}/" style="font-weight: 600;"> {{i.blog.user_name2.profile.first_name}} {{i.blog.user_name2.profile.last_name}}</a> posted an article
                                        </div>
                                        <div class="text-muted" style="font-size: 13px;">
                                            {{i.blog.date_Publish}}, {{i.blog.time}}
                                        </div>

                                       
                                    </div>
                                </div>
                                <div>

                                    {% if request.user != i.blog.user_name2 %}
                                    <a class="btn btn-sm border" style="font-size: 12px; background-color: #E57851; color: white;">Follow</a>
                                    
                                    {% endif %}
                                    <a class="btn btn-sm d-flex justify-content-center align-items-center rounded-circle" style="width:20px;height:20px;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right" style="font-size: 12px;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#"><i class="fa fa-share-alt" style="color: #E57851;"></i> Share</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-exclamation-triangle" style="color: #E57851;"></i> Report</a>
                                      
                                      </div>
                                </div>
                            </div>
                            <div style="font-size: 14px; font-weight: 600;" class="text-dark mb-2">
                               <a href="/blog/{{i.blog.title|replace}}/{{i.blog.id}}/"><center>{{i.blog.title}}</center></a> 
                            </div>
                            <div>
                                <a href="/media/{{i.blog.image}}/"><img src="/media/{{i.blog.image}}/" style="width: 100%;"></a>
                            </div>
                            <div style="font-size: 13px;" class="text-muted">
                               <center>
                                {{i.blog.description}}
                               </center>
                            </div>
                            <hr>
                            <div class="">
                                <div class="" style="display: flex; justify-content: center; flex-wrap: wrap;">
                                    <a href="#" class="btn btn-sm">
                                        <div class=" mr-2" style="font-size: 13px;">
                                            <i class="fa fa-thumbs-up fa2"></i> {{i.blog.liked.all.count}} Like
                                        </div>
                                    </a>
                                    <a href="#" class="btn btn-sm">
                                    <div class="ml-2 mr-2" style="font-size: 13px;">
                                        <i class="fa fa-thumbs-down fa2"></i> {{i.blog.disliked.all.count}} Dislike
                                    </div>
                                </a>
                                    <a href="#" class="btn btn-sm">
                                        <div class=" ml-2 mr-2" style="font-size: 13px;">
                                            <i class="fa fa-comments fa2"></i> Comment
                                        </div>
                                    </a>
                                    {% if request.user == i.blog.user_name2 %}
                                    <a href="#" class="btn btn-sm">
                                        <div class=" ml-2 mr-2" style="font-size: 13px;">
                                            <i class="fa fa-pencil fa2"></i> Edit
                                        </div>
                                    </a>
                                    <a href="#" class="btn btn-sm">
                                        <div class=" ml-2 mr-2" style="font-size: 13px;">
                                            <i class="fa fa-trash fa2"></i> Delete
                                        </div>
                                    </a>
                                    {% endif %}
                                
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    {% endif %}
                    
                   {% endfor %}
        </div>
        <div class="col-12 col-md-12 col-lg-3">
            <div class="card mb-3">
              
                    <div class="card-header border-0" style="font-size: 13px; color: #546E7A;">
                        <i class="fa fa-user fa2"></i> Complete Your Profile
                    </div>
                    <div class="card-body">
                        <div class="progress" style=" height:5px;">
                            <div class="progress-bar" role="progressbar" style="width: 75%; background-color: #E57851;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div style="font-size: 12px;" class="mt-1 text-muted">
                              75% Complete
                          </div>
                          <div class="d-flex justify-content-end">
                              <a href="/profile/{{request.user}}/" class="btn btn-sm border shadow-sm" style="font-size: 12px; background-color: #E57851; color: white;">Profile <i class="fa fa-arrow-right"></i></a>
                          </div>
                    </div>
             
            </div>
            <div class="card border shadow-sm ">
                <div class="card-header border-0" style="font-size: 13px; color: #546E7A;">
                    <i class="fa fa-bell fa2"></i> Opportunities Updates
                </div>
                <div class="card-body">
                    <div class="">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>

                    <div class="mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>

                    <div class=" mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>


                    <div class=" mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>

                    
                    <div class=" mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>

                    
                    <div class=" mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>
                </div>
                <div class="card-footer border-0 d-flex justify-content-center">
                  <a href="#" class="btn btn-sm" style="font-size: 13px;">See More ...</a>
                </div>

            </div>

            <div class="card border shadow-sm mt-3 ">
                <div class="card-header border-0" style="font-size: 13px; color: #546E7A;">
                    <i class="fa fa-newspaper-o" style="color: #E57851;"></i> Technical News
                </div>
                <div class="card-body">
                    <div class="">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>

                    <div class="mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>

                    <div class=" mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>


                    <div class=" mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>

                    
                    <div class=" mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>

                    
                    <div class=" mt-3">
                        <a href=""> <div class="d-flex justify-content-start">
                      
                        <div style="font-size: 13px;" class="ml-2">
                            Sharing a document for you guys to
                            <div style="font-size: 12px; letter-spacing: 0.5px;" class="text-muted">
                                May 19,2010
                            </div>
                        </div>
                       
                    </div>
                    </a>
                    </div>
                </div>
                <div class="card-footer border-0 d-flex justify-content-center">
                  <a href="#" class="btn btn-sm" style="font-size: 13px;">See More ...</a>
                </div>

            </div>
        </div>
    </div>

    <!--Modals-->

    <div class="modal fade" id="Post" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content border-0">
              <div class="modal-header p-3" style="background-color: #FBFAF9;">
                <div class="d-flex justify-content-start align-items-center">
                    <div>
                        <img src="/media/{{request.user.profile.avatar}}" style="width:30px;" class="rounded-circle">
                    </div>
                    <div class="ml-2" style="font-size: 13px; letter-spacing: 0.3px; font-weight: 600; color:#546E7A">
                       <a href="/profile/{{request.user}}/" style="">{{request.user.profile.first_name}} {{request.user.profile.last_name}}</a>
                    </div>
                   </div>
              </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    <textarea id="editor" style="font-size: 12px; border:none; outline:none;" name="post_content"></textarea>
                    <div style="width:100%; height:100px; display: none;" class="border mt-2" id="post_file_box" >
                        <div id="photo_image" style="display: none;">
                            Image
                        </div>
                        <div id="photo_video"  style="display: none;">
                            Video
                        </div>
                        <div id="photo_attachment"  style="display: none;">
                            Attachment
                        </div>
                        <div id="photo_gif"  style="display: none;">
                            GIF
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center mt-2">
                        
                        <div title="Attach a photo" data-toggle="tooltip">
                            <a href="#" onclick="show_post_photo()" class="btn btn-sm" style="color:#E57851"><i class="fa fa-photo"></i></a>
                        </div>
                        <div title="Attach a video" data-toggle="tooltip">
                            <a href="#"  onclick="show_post_video()" class="btn btn-sm" ><i class="fa fa-video-camera fa2"></i></a>
                        </div>
                        <div title="Attach a document" data-toggle="tooltip">
                            <a href="#"  onclick="show_post_document()" class="btn btn-sm" ><i class="fa fa-file fa2"></i></a>
                        </div>
                  
                        <div title="Post a GIF" data-toggle="tooltip" style="margin-top: -5px;">
                            <a href="#"  onclick="show_post_gif()" class=" ml-2 rounded  " style="font-size: 10px; border:1px solid #E57851; color: #E57851; padding:3px;" >GIF</a>
                        </div>
                        
                    </div>

                    <div class="d-flex justify-content-end">
                        <div>
                            <a class="btn btn-sm text-muted close mt-1" data-dismiss="modal" aria-label="Close" style="font-size: 12px;">Cancel</a>
                        </div>
                        <div>
                            <a class="btn btn-sm text-white" style="border-radius:20px; background-color:#E57851; font-size: 12px;"><i class="fa fa-paper-plane"></i> Post Update</a>
                        </div>
                    </div>
                </form>
            </div>
           
          </div>
        </div>
      </div>
</div>
{% endblock %}
{% block script %}
<script>
    function check(value){
        if (document.getElementById("post_file_box").style.display == 'none'){
            document.getElementById("post_file_box").style.display = "block";
        }
        else{
            if(document.getElementById('photo_image').style.display == 'block')
            {document.getElementById("post_file_box").style.display = "none";}
            else if (document.getElementById('photo_image').style.display == 'none'){
                document.getElementById('photo_image').style.display = 'block';
            }
            else if(document.getElementById('photo_video').style.display == 'block')
            {document.getElementById("post_file_box").style.display = "none";}
            else if (document.getElementById('photo_video').style.display == 'none'){
                document.getElementById('photo_video').style.display = 'block';
            }
            else if(document.getElementById('photo_attachment').style.display == 'block')
            {document.getElementById("post_file_box").style.display = "none";}
            else if (document.getElementById('photo_attachment').style.display == 'none'){
                document.getElementById('photo_attachment').style.display = 'block';
            }
            else if(document.getElementById('photo_gif').style.display == 'block')
            {document.getElementById("post_file_box").style.display = "none";}
            else if (document.getElementById('photo_gif').style.display == 'none'){
                document.getElementById('photo_gif').style.display = 'block';
            }
            
        }
    }
    function show_post_photo(){
        check(1);
        document.getElementById('photo_image').style.display = 'block';
        document.getElementById('photo_video').style.display = 'none';
        document.getElementById('photo_attachment').style.display = 'none';
        document.getElementById('photo_gif').style.display = 'none';
    }
    function show_post_video(){
        check(2);
        document.getElementById('photo_image').style.display = 'none';
        document.getElementById('photo_video').style.display = 'block';
        document.getElementById('photo_attachment').style.display = 'none';
        document.getElementById('photo_gif').style.display = 'none';
    }
    function show_post_document(){
        check(3);
        document.getElementById('photo_image').style.display = 'none';
        document.getElementById('photo_video').style.display = 'none';
        document.getElementById('photo_attachment').style.display = 'block';
        document.getElementById('photo_gif').style.display = 'none';
    }
    function show_post_gif(){
        check(4);
        document.getElementById('photo_image').style.display = 'none';
        document.getElementById('photo_video').style.display = 'none';
        document.getElementById('photo_attachment').style.display = 'none';
        document.getElementById('photo_gif').style.display = 'block';
    }
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );

</script>
{% endblock %}
{% block bod %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-12 col-md-3 col-lg-3">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                       <div>
                       <a href="/profile/{{request.user}}/"> <img src="/media/{{request.user.profile.avatar}}/" style="width:80px; border-radius:50%; height:80px;"></a>
                       </div>
                       
                    </div>
                    <div class="ml-2 mt-1">
                           <div class="d-flex justify-content-center">
                                <div style="font-size: 14px; font-weight: 600;" class="text-dark">{{request.user.profile.first_name}} {{request.user.profile.last_name}}</div>                               
                           </div>
                           <div  class="d-flex justify-content-center">
                            <div style="font-size: 12px; " class="text-dark">{{request.user}}</div>                               
                       </div>
                       {% if request.user.profile.headline %}
                       <div  class="d-flex justify-content-center">
                        <div style="font-size: 12px; " class="text-dark">{{request.user.profile.headline}}</div>                               
                   </div>
                       {% endif %}
                       <div  class="d-flex justify-content-center">
                        <div style="font-size: 12px; " class="text-dark">{{request.user.profile.follow.all.count}} Follower | {{request.user.profile.following.all.count}} Following</div>                               
                   </div>
                       <div class="mt-2">
                        <div class="d-flex justify-content-between">
                            <div style="font-size: 12px;" class="text-dark">
                                <i class="fa fa-line-chart "></i> Contest Rating
                            </div>
                            <div class="badge badge-sm badge-success rounded-pill p-1 pl-2 pr-2" style="font-size: 10px; border-radius: 10px;">
                                100
                        </div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <div style="font-size: 12px;" class="text-dark">
                                <i class="fa fa-trophy "></i> Global Rank
                            </div>
                            <div class="badge badge-sm badge-success rounded-pill p-1 pl-2 pr-2" style="font-size: 10px; border-radius: 10px;">
                                1
                        </div>
                        </div>
                       </div>
                       </div>
                       <hr>
                       <div>
                           <div style="font-size: 12px;" class="text-dark">
                               <i class="fa fa-check-circle "></i> Problems Solved
                           </div>
                           <div class="mt-1 d-flex justify-content-between">
                               <div class="text-muted" style="font-size: 10px;">
                                <div>
                                  <center>  1/100</center>
                                </div>
                                    <div style="font-size: 13px;" class="text-success"><center>Easy</center></div>
                               </div>
                               <div class="text-muted" style="font-size: 10px;">
                                <div>
                                  <center>  1/100</center>
                                </div>
                                    <div style="font-size: 13px;" class="text-warning"><center>Medium</center></div>
                               </div>

                               <div class="text-muted" style="font-size: 10px;">
                                <div>
                                  <center>  1/100</center>
                                </div>
                                    <div style="font-size: 13px;" class="text-danger"><center>Hard</center></div>
                               </div>
                               
                           </div>
                       </div>
                       <hr>
                       <div>
                           <div style="font-size: 12px;" class="text-dark">
                               <i class="fa fa-newspaper-o "></i> Articles Published
                           </div>
                           <div class="mt-1 text-muted d-flex justify-content-between" style="font-size: 12px;">
                               <div>
                                {{request.user.project_username_2.all.count}} Articles Published
                               </div>
                               <div>
                                   <a href="/profile/{{request.user}}/#Article">Read More...</a>
                               </div>
                           </div>
                       </div>
                       <hr>
                       <div>
                        <div class="d-flex justify-content-between">
                            <div style="font-size: 12px;" class="text-dark">
                                <i class="fa fa-diamond"></i> Experience 
                            </div>
                            <div class="badge badge-sm badge-success rounded-pill p-1 pl-2 pr-2" style="font-size: 10px; border-radius: 10px;">
                                    100
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <div style="font-size: 12px;" class="text-dark">
                                <i class="fa fa-star-o"></i> Reputation 
                            </div>
                            <div class="badge badge-sm badge-success rounded-pill p-1 pl-2 pr-2" style="font-size: 10px; border-radius: 10px;">
                                    100
                            </div>
                        </div>
                       </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-9 col-lg-6">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                   <div>
                    <div class="d-flex justify-content-start mb-3">
                        <div>
                                <img src="/media/{{request.user.profile.avatar}}" class="rounded-circle" style="width:40px; height:40px;">
                        </div>
                       
                        <div class="ml-2 text-muted border d-flex  align-items-center pl-2 " style="width: 100%; border-radius:20px; font-size: 14px;">
                            <i class="fa fa-paper-plane mr-1"></i> Create a post
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div style="font-size: 12px;" class="text-muted">
                           <a class="btn btn-sm bg-light border shadow-sm text-dark" style="font-size: 12px;" href="/blog/create/">
                            <i class="fa fa-newspaper-o"></i> Write Article
                           </a>
                        </div>
                        <div style="font-size: 12px;" class="text-muted">
                            <a class="btn btn-sm bg-light border shadow-sm" style="font-size: 12px;" >
                             <i class="fa fa-photo"></i> Photo
                            </a>
                         </div>
                         <div style="font-size: 12px;" class="text-muted">
                            <a class="btn btn-sm bg-light border shadow-sm" style="font-size: 12px;" >
                             <i class="fa fa-calendar-check-o"></i> Event
                            </a>
                         </div>
                        <div style="font-size: 12px;" class="text-muted">
                            <a class="btn btn-sm bg-light border shadow-sm" style="font-size: 12px;" >
                             <i class="fa fa-video-camera"></i> Video
                            </a>
                         </div>
                        <div style="font-size: 12px;" class="text-muted">
                            <a class="btn btn-sm bg-light border shadow-sm text-dark" style="font-size: 12px;" href="/discuss/">
                             <i class="fa fa-question"></i> Ask Questions
                            </a>
                         </div>
                    </div>
                   </div>
                </div>

            </div>
            {% for i in home %}
                    {% if i.category == 'Blog' %}
                        <div class="card card-body border-0 mt-3 shadow-sm">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex justify-content-start mb-3">
                                    <div>
                                            <img src="/media/{{i.blog.user_name2.profile.avatar}}" class="rounded-circle" style="width:40px; height:40px;">
                                    </div>
                                    <div class="ml-2">
                                        <div class="text-dark" style="font-size: 14px; font-weight: 600; margin-top:2px;">
                                           <a href="/profile/{{i.blog.user_name2}}/"> {{i.blog.user_name2.profile.first_name}} {{i.blog.user_name2.profile.last_name}}</a>
                                        </div>
                                        <div style="font-size: 12px;" class="text-muted">
                                            {{i.blog.user_name2.profile.headline}}, Author, {{i.blog.user_name2.project_username_2.all.count}} published post
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a><i class="fa fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                            <div style="font-size: 14px; font-weight: 600;" class="text-dark mb-2">
                               <a href="/blog/{{i.blog.title|replace}}/{{i.blog.id}}/"><center>{{i.blog.title}}</center></a> 
                            </div>
                            <div>
                                <a href="/blog/{{i.blog.title|replace}}/{{i.blog.id}}/"><img src="/media/{{i.blog.image}}/" style="width: 100%;"></a>
                            </div>
                            <div style="font-size: 12px;" class="text-muted">
                               <center>
                                {{i.blog.description}}
                               </center>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex justify-content-start">
                                    <div class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                        <i class="fa fa-thumbs-up fa2"></i> {{i.blog.liked.all.count}}
                                    </div>
                                    <div class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                        <i class="fa fa-thumbs-down fa2"></i> {{i.blog.disliked.all.count}}
                                    </div>
                                    <div class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                        <i class="fa fa-comments fa2"></i> 12
                                    </div>
                                    <div class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                        <i class="fa fa-share-alt"></i>
                                    </div>
                                </div>
                                <div  class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                    Posted on {{i.blog.date_Publish}}, {{i.blog.time}}
                                </div>
                            </div>
                            
                        </div>
                    {% endif %}
                    {% if i.category == 'Post' %}
                    <div class="card card-body mt-3 shadow-sm border-0">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-start mb-3">
                                {% if not i.post.anonymous %} 
                                <div>
                                        <img src="/media/{{i.post.user.profile.avatar}}" class="rounded-circle" style="width:40px; height:40px;">
                                </div>
                                {% else %}
                                <div>
                                    <img src="/media/users/images/default.jpg/" class="rounded-circle" style="width:40px; height:40px;">
                                </div>
                                {% endif %}
                                <div class="ml-2">
                                    {% if i.post.anonymous %} 
                                        <div class="text-dark mt-2 pt-1" style="font-size: 12px; font-weight: 600;">
                                            Posted By Anonymous user
                                        </div>

                                    {% else %} 
                                    <div class="text-dark" style="font-size: 14px; font-weight: 600; margin-top:2px;">
                                        <a href="/profile/{{i.post.user}}/">  {{i.post.user.profile.first_name}} {{i.post.user.profile.last_name}} </a>  
                                     </div>
                                    {% endif %}
                                    {% if not i.post.anonymous %} 
                                    <div style="font-size: 12px;" class="text-muted">
                                        {{i.post.user.profile.headline}}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <a><i class="fa fa-ellipsis-v"></i></a>
                            </div>
                        </div>
                        <div style="font-size: 14px; font-weight: 600;">
                            <a href="/discuss/{{i.post.category}}/inbox/{{i.post.id}}/">
                                {% if i.post.category != 'General' %}
                                <center>{{i.post.title2|safe}}</center>
                                {% else %}
                               <center> {{i.post.title|safe}}</center>
                                {% endif %}</a>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-start">
                                <div class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                    <i class="fa fa-thumbs-up fa2"></i> {{i.post.like.all.count}}
                                </div>
                                <div class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                    <i class="fa fa-thumbs-down fa2"></i> {{i.post.dislike.all.count}}
                                </div>
                                <div class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                    <i class="fa fa-comments fa2"></i> {{i.post.quora_comment.all.count}}
                                </div>
                                <div class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                    <i class="fa fa-share-alt"></i>
                                </div>
                                {% if i.post.category == 'General' %}
                                <div class="text-muted ml-2 mr-2" title="Anwser" data-toggle="tooltip" style="font-size: 13px;">
                                    <i class="fa fa-pencil"></i> {{i.post.Quora_anwsers.all.count}}
                                </div>
                                {% endif %}
                            </div>
                            <div  class="text-muted ml-2 mr-2" style="font-size: 13px;">
                                Asked on {{i.post.created}}
                            </div>
                        </div>
                        </div>
                    {% endif %}
                   {% endfor %}
        </div>
        <div class="col-12 col-md-12 col-lg-3">
            <div class="card border-0 shadow-sm">
                <div class="card-header text-dark" style="font-size: 12px;">
                    <i class="fa fa-briefcase"></i> Jobs recommended for you
                </div>
                <div class="card-body">
                    <div  class="d-flex justify-content-center">
                        <i class="fa fa-spinner fa-spin "></i>
                    </div>
                </div>
                <div class="card-footer text-dark" style="font-size: 12px;">
                    <center>
                        <a href="/discuss/?method=Career">See More...</a>
                    </center>
                </div>

            </div>
           
                <a href="{% url 'explore' %}">
                <div class="card card2 mb-3 mt-3" >
                    <span style="position: absolute; font-size: 10px;" class=" mt-1 ml-2  badge badge-sm badge-warning text-dark">
                             <!--{{day}}--> Comming Soon
                    </span>
                    <div class="card-body">
    
                        <div style="color:white;" class="mt-2">
                            <center>
                                <i style="font-size: 40px;" class="fa fa-calendar-check-o" aria-hidden="true"></i>
                            </center>
                        </div>
                        <div style="color: white; " class="mt-2">
                            <center>
                                Daily Challange
                            </center>
                        </div>
                    </div>
                </div>
            </a>
    <a href="{% url 'contestpage' %}">
                <div class="card card1 " >
                    <span style="position: absolute; font-size: 10px; " class=" mt-1 ml-2  badge badge-sm badge-warning text-dark">
                           <!--{{day}}--> Comming Soon
                    </span>
                    <div class="card-body">
    
                        <div style="color:white;" class="mt-2">
                            <center>
                                <i style="font-size: 40px;" class="fa fa-trophy" aria-hidden="true"></i>
                            </center>
                        </div>
                        <div style="color: white; " class="mt-2">
                            <center>
                                Alphas Contest
                            </center>
                        </div>
                    </div>
                </div>
            </a>
            
        </div>
    </div>
</div>
{% endblock %}